
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OCM Geocache Manager
Exec=ocm-gtk
Terminal=false
GenericName=OCM Geocache Manager
Icon=/usr/lib/opencachemanager/icons/scalable/traditional.svg
Categories=Network;
Path=/usr/lib/opencachemanager
MimeType=application/x-gpx;
